{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify suit_tags admin_urls %}
{% load url from future %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="/static/js/dygraph-combined.js"></script>
{% endblock %}


{% block breadcrumbs %}
<ul class="breadcrumb">
	<li>
		<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
		<span class="divider">&raquo;</span>
	</li>
	<li>
		<a href="{% url 'admin:app_list' app_label=opts.app_label %}">{% firstof opts.app_config.verbose_name app_label|capfirst|escape %}</a>
		<span class="divider">&raquo;</span>
	</li>
	<li>
		{% if has_change_permission %}
		  <a href="{% url opts|admin_urlname:'changelist' %}">
			{{ opts.verbose_name_plural|capfirst }}</a>{% else %}
		  {{ opts.verbose_name_plural|capfirst }}{% endif %}
		<span class="divider">&raquo;</span>
	</li>
	<li>
		{{ original }}
		<span class="divider">&raquo;</span>
	</li>
	<li class="active">
		{{ title }}
	</li>
</ul>
{% endblock %}

{% block content %}

<form action="{{ form_url }}" method="post">
	{% csrf_token %}
	<div class="well">
		<div class="row-fluid">
			<div class="span3">
				<label for="start_date">Start date</label>
				<input type="text" name="start_date" id="start_date" placeholder="YYYY-MM-DD"{% if params.start_date %} value="{{ params.start_date }}"{% endif %}>
			</div>
			<div class="span3">
				<label for="end_date">End date</label>
				<input type="text" name="end_date" id="end_date" placeholder="YYYY-MM-DD"{% if params.end_date %} value="{{ params.start_date }}"{% endif %}>
			</div>
			<div class="span3">
				<label>Markets</label>
				<select name="markets" multiple>
					{% for market in markets %}
						<option value="{{ market.name }}"{% if params.markets and market in params.markets %} selected{% endif %}>{{ market.name }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="span3">
				<label>Computed Pairs</label>
				<select name="pairs" multiple>
					{% for pair in pairs %}
						<option value="{{ pair }}"{% if params.pairs and pair in params.pairs %} selected{% endif %}>{{ pair }}</option>
					{% endfor %}
				</select>
			</div>
			<button class="pull-left btn btn-primary">Graph</button>
		</div>

	</div>
</form>

<br><br>
{% if data_url %}
	<div id="graphdiv2" style="width: 100%; height: 500px;"></div>
	<script type="text/javascript">
		var g2 = new Dygraph(
			document.getElementById("graphdiv2"),
			"{{ data_url }}",
			{
				xRangePad: 10,
				connectSeparatedPoints: true,
				showRangeSelector: true,
				showRoller: true,
				labelsSeparateLines: "<br>",
				highlightSeriesOpts: {
					strokeWidth: 3,
					strokeBorderWidth: 1,
					highlightCircleSize: 5,
				}
			}
		);
	</script>
{% endif %}
{% endblock %}