{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify %}
 
{% block object-tools-items %}
<li>
    {% url opts|admin_urlname:'graph' original.pk|admin_urlquote as graph_url %}
    <a href="{% add_preserved_filters graph_url %}" class="historylink">
    	<i class="icon icon-signal icon-alpha75"></i>
    	{% trans "Graph" %}
    </a>
</li>
{{ block.super }}
{% endblock %}